html, body {
	height: 100%;
	width: 100%;
	margin: 0 auto auto auto;
	background-color: lightskyblue;
}

header {
	height: 15%;
	width: 100%;
	background-color: skyblue;
}

header img {
	height: 100%;
	width: 100%;
}

article {
	width: 100%;
	height: 70%;
}

footer {
	width: 100%;
	height: 15%;
}

.form {
	max-width: 80%;
	margin: 0 auto;
}

.form-login {
	max-width: 50%;
	margin: 0 auto auto auto;
}

.center-block {
	display:      block;
	margin-left:  auto;
	margin-right: auto;
}

.element {
	.center-block();
}