body {
	height: 100%;
	width: 100%;
	margin: auto auto auto auto;
	background-color: lightskyblue;
	padding-bottom: 70px;
}

header {
	width: 785px;;
	background-color: skyblue;
}

header img {
	height:100%;
	width: 100%
}

article {
	width: 100%;
}

footer {
	width: 100%;
}

.form {
	max-width: 350px;
	padding: 15px;
	margin: 0 auto;
}