body {
  padding-top:      0px;
  padding-bottom:   0px;
  background-color: #eee;
}

.navbar {
  margin-bottom: 30px;
}

.form {
  max-width: 350px;
  padding:   15px;
  margin:    0 auto;
}
.form .form-heading .checkbox {
  margin-bottom: 10px;
}

.form .form-control {
  position:           relative;
  height:             auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  padding:            10px;
  font-size:          16px;
}

.form .form-control:focus {
  z-index: 2;
}

.form input[type=email] {
  margin-bottom: 14px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form input[type=password] {
  margin-bottom: 14px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form input[type=text] {
  margin-bottom: 14px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form input[type=file] {
  margin-bottom: 14px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}