body {
	padding-top:          0px;
	padding-right:       20px;
	padding-left:        20px;
	padding-buttom:      70px;
	background-color: palegreen;
	width:               100%;
	height:               100%;
	overflow-y:auto;
  margin-left: auto;
  margin-right: auto;
}
header {
	width:    100%;
	height:  171px;
}

header img {
	width:  100%;
	height: 100%;
}

article {
	width:  100%;
	height:  800px;
}

footer {
	backgroud-color: red;
}

.form {
	max-width: 80%;
	margin: 0 auto;
}

.form-login {
	max-width: 50%;
	margin: 0 auto auto auto;
}












