<form class=postContent>
  <fieldset>
    <legend>公告管理</legend>
    <button class=getContainer href=/admin?arg1=announcementManage&arg2=addAnnouncement>新增公告</button><br>
    <table>
      <tr>
        <th colspan=4>
	      <p>公告列表</p>
	    </th>
      </tr>
      <tr>
        <th>新增文章日期</th>
        <th>開始日期</th>
        <th>最後日期</th>
        <th>內容</th>
        <th>修改</th>
      </tr>
      {% for announcement in announcements %}
        <tr>
          <td>{{ announcement.postTime|date:"Y-m-d" }}</td>
          <td>{{ announcement.annStart|date:"Y-m-d" }}</td>
          <td>{{ announcement.annEnd|date:"Y-m-d" }}</td>
	      <td>{{ announcement.announcementT }}</td>
	      {% if announcement.show == True %}
	        <td><a class=getContainer href=/admin?arg1=announcementManage&arg2=modifyAnnouncement&arg3={{announcement.key.id}}>修改</a></td>
	      {% else %}
	        <td><a class=getContainer href=/admin?arg1=announcementManage&arg2=showAnnouncement&arg3={{announcement.key.id}}>詳細</a></td>
	      {% endif %}
        </tr>
      {% endfor %}
    </table>    
  </fieldset>
</form>

{% include "paging.html" %}
