<a class='btn btn-primary getContainer' href=/admin?arg1=mainPageManage>版面管理</a>
<a class='btn btn-primary getContainer' href=/admin?arg1=memberManage>會員管理</a>
<a class='btn btn-primary getContainer' href=/admin?arg1=courseManage>課程管理</a>
<a class='btn btn-primary getContainer' href=/admin?arg1=teacherManage>師資管理</a>
<a class='btn btn-primary getContainer' href=/admin?arg1=examManage>試卷管理</a>
<a class='btn btn-primary getContainer' href=/admin?arg1=gameManage>益智遊戲管理</a>

<aside>
	
</aside>
<section>
	
</section>
{% include "paging.html" %}