<form action='' method=post class=form>
	{% module xsrf_form_html() %}
	<h3>會員列表</h3>
	
	<button class='admiGetContainer btn btn-primary' href=/admin/member?arg1=add>新增會員</button>
	
	<table class='table table-bordered table-responsive'>
		<tr>
			<th>帳戶</th>
			<th>暱稱</th>
			<th>電子信箱</th>
			<th>註冊日期</th>
		</tr>
		{% for member in members %}
		<tr>
			<td><a href="/admin/member?arg1=modify&arg2={{member['_id']}}" class=getContainer>{{member['account']}}</a></td>
			<td>{{member['nickname']}}</td>
			<td>{{member['email']}}</td>
			<td>{{member['signupDate']}}</td>
		</tr>
		{% end %}
	</table>
	
</form>
{% include "paging.html" %}
