<form action='/admin/mainPage?arg1=termsOfService' class='form uploadFileForm' enctype=multipart/form-data  method=post>
	{% module xsrf_form_html() %}
	<h3>服務條款上傳</h3>
	
	<div class=form-group>
		<input name=termsOfService type=file>
	</div>
	
	<div class=form-group>
		<button class='btn btn-primary' type=submit>新增服務條款</button>
		<button class='btn btn-danger' type=reset>清除</button>
	</div>
	
	<div class=progress>
		<div class='progress-bar progress-bar-success progress-bar-striped' role=progressbar>
		  <span class=sr-only></span>
		</div>
	</div>

</form>

{% include "paging.html" %}