課程單元
{% if unit.unitNameT %}
修改
{% else %}
新增
{% endif %}
<br>
設定<br>
<form action="{{ upload_url }}" id=adminCourseAddUnit method=post enctype=multipart/form-data>
  <input type=hidden name=key value="{{ unit.key.id }}">
  <input type=hidden name=orgImage value="{{ unit.image }}">
      單元名稱(繁):<input type=text name=unitNameT value="{{ unit.unitNameT }}" required><br>
      單元名稱(簡):<input type=text name=unitNameS value="{{ unit.unitNameS }}" required><br>
      講師:
　 <select name=teacherID>
    {% for teacher in teachers %} 
	  <option {% if unit.teacherID == teacher.keyID %} selected=selected {% endif %} value="{{ teacher.key.id }}">{{teacher.nameT}}</option>
    {% endfor %}
　 </select>
　 <br>
　課堂數:
  {% if unit.numCourses %}
    <input type=number name=numCourses value="{{ unit.numCourses }}" min="{{ unit.numCourses }}" required><br>
  {% else %}
    <input type=number name=numCourses value=1 required><br>
  {% endif %}
　類別:
  {% for courseType in courseTypes %}
    <input type=checkbox  name="check{{ courseType.typeID }}" value="{{ courseType.typeID }}" {% if courseType.checked %} checked {% endif %}>{{ courseType.typeNameT }}
  {% endfor %}
  <br>
     圖片:<input type=file name=image {% if not unit %}required{% endif %}><br>
 　單元資訊(繁):<textarea rows=7 cols=50 name=unitInfoT>{{ unit.unitInfoT }}</textarea><br>
 　單元資訊(簡):<textarea rows=7 cols=50 name=unitInfoS>{{ unit.unitInfoS }}</textarea><br>
  <input type=submit value=確定>
  <button onclick="history.go(-1)">取消</button>
</form>

{% include "paging.html" %}
