<a href=/admin?arg1=courseManage&arg2=addUnitForm class=adminGetContainer>新增課程</a>
<form action=/admin?arg1=courseManage&arg2=search id=search method=post>
  <table>
    <tr>
	  <td></td>
	  <td>類別</td>
	  <td>上傳時間</td>
	  <td></td>
	</tr>
	<tr>
	  <td>篩選</td>
	  <td>
        <select name=courseType>
          <option value=all></option>
          {% for courseType in courseTypes %}
	      <option value="{{ courseType.typeID }}">{{ courseType.typeNameT }}</option>
	      {% endfor %}
	    </select>
	  </td>
	  <td>
        <input min=2014-06-01 max="{{ localTime|date:"Y-m-d" }}" type=date name=start>
        <input min=2014-06-01 max="{{ localTime|date:"Y-m-d" }}" type=date name=end>
	  </td>
	  <td>
	    <input type=submit value=搜尋>
	  </td>
    </tr>
  </table>
</form>
<div id=searchForm>
  {% for unit in units %}
    <a href="/admin?arg1=courseManage&arg2=unitSetting&arg3={{ unit.key.id }}" class=adminGetContainer>{{ unit.unitNameT }}</a><br>
  {% endfor %}
</div>

{% include "paging.html" %}