<div class='panel panel-default'>
	<div class=panel-heading>齊芳花絮管理區</div>
	<div class=panel-body>
		<a class='adminGetContainer btn btn-primary' href='/admin/highlight?arg1=add'>新增齊芳花絮</a>
	</div>
	<table class='table table-bordered table-responsive'>
		<tr>
			<th>標題</th>
			<th>上傳時間</th>
			<th>修改</th>
			<th>刪除</th>
		</tr>
		{% for highlight in highlights %}
		<tr>
			<td>{{highlight['title']}}</td>
			<td>{{highlight['uploadTime']}}</td>
			<td><a class='adminGetContainer btn btn-danger' href="/admin/highlight?arg1=modify&highlightId={{highlight['_id']}}">修改齊芳花絮</a></td>
			<td><a class='adminGetContainer btn btn-danger' href="/admin/highlight?arg1=del&highlightId={{highlight['_id']}}">刪除齊芳花絮</a></td>
		</tr>
		{% end %}
	</table>
</div>

{% include "paging.html" %}