<form class=addTeacherForm action="{{ upload_url }}"  method=post enctype=multipart/form-data>
  <fieldset>
    <legend>首頁版面管理</legend>
           上傳Banner:{% if dynamicFiles.banner.file %}★{% else %}☆{% endif %}
    <input type=file name=banner><br><br>
	服務條款：<br>
           繁體中文：{% if dynamicFiles.termsOfServiceT.file %}★{% else %}☆{% endif %}
    <input type=file name=termsOfServiceT><br><br>
           簡體中文：{% if dynamicFiles.termsOfServiceS.file %}★{% else %}☆{% endif %}
    <input type=file name=termsOfServiceS><br><br>
	隱私權條款：<br>
           繁體中文：{% if dynamicFiles.privacyT.file %}★{% else %}☆{% endif %}
    <input type=file name=privacyT><br><br>
           簡體中文：{% if dynamicFiles.privacyS.file %}★{% else %}☆{% endif %}
    <input type=file name=privacyS><br><br>
	關於我們：<br>
           繁體中文：{% if dynamicFiles.aboutT.file %}★{% else %}☆{% endif %}
    <input type=file name=aboutT><br><br>
           簡體中文：{% if dynamicFiles.aboutS.file %}★{% else %}☆{% endif %}
    <input type=file name=aboutS><br><br>
	常見問答：<br>
           繁體中文：{% if dynamicFiles.QandAT.file %}★{% else %}☆{% endif %}
    <input type=file name=QandAT><br><br>
           簡體中文：{% if dynamicFiles.QandAS.file %}★{% else %}☆{% endif %}
    <input type=file name=QandAS><br><br>
           首頁介紹影音:{% if dynamicFiles.introVideo.file %}★{% else %}☆{% endif %}
    <input type=file name=introVideo><br><br>
           導覽影片：{% if dynamicFiles.navVideo.file %}★{% else %}☆{% endif %}
    <input type=file name=navVideo><br><br>
    <input type=submit value=儲存>
    <input type=reset value=清除>
    <div id=progress>
	  <div id=bar></div>
	  <div id=percent>0%</div>
	</div>
  </fieldset>
</form>

{% include "paging.html" %}