<ul class='nav nav-tabs nav-justified'>
	<li role=presentation><a class=adminGetContainer href=/admin/mainPage>版面管理</a></li>
	<li role=presentation><a class=adminGetContainer href=/admin/member>會員管理</a></li>
	<li role=presentation><a class=adminGetContainer href=/admin/course>課程管理</a></li>
	<li role=presentation><a class=adminGetContainer href=/admin/exam>試卷管理</a></li>
	<li role=presentation><a class=adminGetContainer href=/admin/game>益智遊戲管理</a></li>
	<li role=presentation><a class=adminGetContainer href=/admin/highlight>齊芳花絮管理</a></li>
</ul>

<section class=col-xs-12></section>

{% include "paging.html" %}
