<img class=adminTeacherImage>
<form class=addTeacherForm action="{{ upload_url }}" method=post>
     姓名(繁):<input type=text name=nameT required><br><br>
      姓名(簡):<input type=text name=nameS required><br><br>
      專長(繁):<input type=text name=specialtyT required><br><br>
      專長(簡):<input type=text name=specialtyS required><br><br>
      選擇圖片：<input type=file name=image required><br><br>
      選擇影片：<input type=file name=video required><br><br>
      簡介(繁)<br>
  <textarea name=teacherInfoT value=teacherInfoT rows=7 cols=50 required></textarea><br>
      簡介(簡)<br>
  <textarea name=teacherInfoS value=teacherInfoS rows=7 cols=50 required></textarea><br>
  <input type=submit value=新增>
  <input type=reset value=清除>
</form>
<div id=progress>
  <div id=bar></div>
  <div id=percent>0%</div>
</div>

{% include "paging.html" %}
