<div class='panel panel-default'>
	
	<div class=panel-heading>會員列表</div>
	
	<div class=panel-body>
		<a class='adminGetContainer btn btn-primary' href="/admin/member?arg1=add">新增會員</a>
	</div>
	
	<table class='table table-bordered table-responsive'>
		<tr>
			<th>帳戶</th>
			<th>暱稱</th>
			<th>電子信箱</th>
			<th>註冊日期</th>
			<th>修改</th>
		</tr>
		{% for member in members %}
		<tr>
			<td>{{member['account']}}</td>
			<td>{{member['nickname']}}</td>
			<td>{{member['email']}}</td>
			<td>{{member['signupDate']}}</td>
			<td><a class='adminGetContainer btn btn-danger' href="/admin/member?arg1=modify&memberId={{member['_id']}}">修改會員</a></td>
		</tr>
		{% end %}
	</table>
	
</div>

{% include "paging.html" %}