<form id=postContent action=/admin?arg1=mainPageManage&arg2=modifyProduct method=post>
  <fieldset>
    <legend>方案管理</legend>
    <input type=hidden name=productKey value="{{ product.key.id }}">
          方案名稱:<input type=text name=productID value="{{ product.productID }}"><br>
          原價:<input type=number name=origPrice min=0 step=10 value="{{ product.origPrice }}"><br>
          特價:<input type=number name=specialPrice min=0 step=10 value="{{ product.specialPrice }}"><br>
          月數:<input type=number name=numMonths min=1 max=12 value="{{ product.numMonths }}"><br>
          繁體資訊：<textarea rows=7 cols=50 name=productInfoT>{{ product.productInfoT }}</textarea><br><br>
          簡體資訊：<textarea rows=7 cols=50 name=productInfoS>{{ product.productInfoS }}</textarea><br><br>
    <input type=submit value=修改>
  </fieldset>
</form>

{% include "paging.html" %}