<div class='panel panel-default'>
	<div class=panel-heading>課程管理區</div>
	<div class=panel-body>
		<a class='adminGetContainer btn btn-primary' href="/admin/course?arg1=add">新增課程</a>
	</div>
	<table class='table table-bordered table-responsive'>
		<tr>
			<th>課程名稱</th>
			<th>課程類型</th>
			<th>上傳時間</th>
			<th>修改</th>
		</tr>
		{% for course in courses %}
		<tr>
			<td>{{course['courseName']}}</td>
			<td>{{course['courseType']}}</td>
			<td>{{course['uploadTime']}}</td>
			<td><a class='adminGetContainer btn btn-danger' href="/admin/course?arg1=modify&courseId={{course['_id']}}">修改課程</a></td>
		</tr>
		{% end %}
	</table>
	
</div>

<section class=col-xs-12></section>

{% include "paging.html" %}