<form id=memberCount>
  <fieldset>
	<legend>會員計算</legend>
          總會員人數：{{ memberNum }}人<br> 
	台灣會員人數：{{ TW }}人<br> 
	中國會員人數：{{ CN }}人<br> 
	其他國家會員人數：{{ other }}人<br><br>
  </fieldset>
  <fieldset>
    <legend>方案熱門度</legend>
           方案1：{{ total1 }}<br> 
           方案2：{{ total2 }}<br> 
           方案3：{{ total3 }}<br> 
           方案4：{{ total4 }}<br> 
  </fieldset>
</form>

<form class=postContent>
  <fieldset>
    <legend>會員管理</legend>
    <button class=getContainer href=/admin?arg1=memberManage&arg2=addMember>新增會員</button><br><br>
    <table>
	  <tr>
	    <th colspan=9>會員列表</th>	  
	  </tr>
      <tr>
	    <td>姓名</td>
	    <td>帳號</td>
	    <td>E-mail</td>
	    <td>到期日</td>
	    <td>是否過期</td>
	    <td>狀態</td>
	    <td>付款型態</td>
	    <td>付費金額</td>
	  </tr>
	  {% for member in members %}
	  <tr>
	    <td><a class=getContainer href="/admin?arg1=memberManage&arg2=modifyMember&arg3={{ member.key.id }}">{{ member.nickname }}</a></td>
	    <td>{{ member.account }}</td>
	    <td>{{ member.email }}</td>
	    <td>{{ member.expirationDate|date:"Y-m-d" }}</td>
	    <td>{{ member.expiration1 }}</td>
	    <td>{{ member.restriction1 }}</td>
	    <td>{{ member.payMode }}</td>
	    <td>{{ member.totalPrice }}</td>
	  </tr>
	  {% endfor %}
    </table>
    <div id=moreform>
	  {% if page == 1 %}
	          上一頁
	  {% else %}
	    <a class=getContainer href="/admin?arg1=memberManage&arg2=showMember&page={{ page }}&m=be">上一頁</a>
	  {% endif %}
	  {% for p in pageTotal %}
	    {% if p == page %}
	      {{ p }}
	    {% else %}
	      <a class=getContainer href="/admin?arg1=memberManage&arg2=showMember&page={{ p }}">{{ p }}</a>
	    {% endif %}
	  {% endfor %}
	  {% if page == pageMax or page == 1 %}
	          下一頁
	  {% else %}
	    <a class=getContainer href="/admin?arg1=memberManage&arg2=showMember&page={{ page }}&m=af">下一頁</a>
	  {% endif %}
    </div>
  </fieldset>
</form>

{% include "paging.html" %}
