<form action=/admin?arg1=courseManage&arg2=hot id=adminCourseSurveySearch method=get>
  *開始時間:<input id=startDate min=2014-06-01 max="{{ localTime|date:"Y-m-d" }}" type=date name=start required>
  *結束時間:<input id=endDate min=2014-06-01 max="{{ localTime|date:"Y-m-d" }}" type=date name=end required><br>
  <input type=radio name=hot value=teacherHot checked>熱門教師
  <input type=radio name=hot value=videoHot>熱門影片  
  <input type=submit value=查詢>
</form>
<br>
<form action=/admin?arg1=courseManage&arg2=searchSurveys id=adminPostContainer method=post>
    類別<select name=courseType id=courseType>
    <option value=all></option>
    {% for courseType in courseTypes %}
      <option value="{{ courseType.typeID }}" >{{ courseType.typeNameT }}</option>
    {% endfor %}
    </select>
    單元<select name=unit id=unit></select>
    課程<select name=course id=course></select> 
  <input type=submit value=評分及評語查詢>
</form>
  {% if teacherHots %}
  {% for teacherHot in teacherHots %}
    {{ teacherHot.nameT }}<br>
  {% endfor %}
  
  {% endif %}
  {% if videoHots %}
    {% for videoHot in videoHots %}
      {{ videoHot.courseNameT }}<br>
    {% endfor %}
  {% endif %}


{% if survey == "courseSurveys" %}
  {% if courseSurveys %}
        評價人數:{{ numPeople }}<br>
        平均分數:{{ score }}<br>
    <br><br>
    {% for courseSurvey in courseSurveys %}
      1.評價帳號:{{ courseSurvey.account }} <br>
      2.評價分數:{{ courseSurvey.score }} <br>
      3.評價意見:{{ courseSurvey.proposal }} <br>
      <br>
    {% endfor %}
  {% else %}
      沒有任何評分及評語
  {% endif %}
{% endif %}
 
{% include "paging.html" %}
<script>
$(document).ready(function() {
  $('#courseType').change(function(){
    var type = $('#courseType').find(':selected').val();
    $('#unit').empty();
    $('#course').empty();
    $('#unit').append($('<option></option>').attr('value', '').text(''));
    {% for unit in units %}
      var unitTypes = '{{unit.unitType}}'.split(',');
      for (i in unitTypes)
      {
    	if (unitTypes[i] == type){
    	  $('#unit').append($('<option></option>').attr('value', '{{unit.key.id}}').text('{{unit.unitNameT}}'));
    	}
      }
    {% endfor %}
    return;
  });
  
  $('#unit').change(function(){
    $('#course').empty();
    $('#course').append($('<option></option>').attr('value', '').text(''));
    var unit = $('#unit').find(':selected').val();
    {% for course in courses %}
      if ( '{{course.unitID}}' == unit ){
    	  $('#course').append($('<option></option>').attr('value', '{{course.key.id}}').text('{{course.courseNameT}}'));
      }
    {% endfor %}
    return;
  });
});  
</script>