<form class=addMember action=/admin?arg1=memberManage&arg2=addMember method=post>
  <fieldset>
    <legend>新增會員</legend>
    {% for product in products %}
	  <input type=radio name=product value="{{ product.key.id }}" {% if forloop.counter == 1 %}checked{% endif %}>
      <div>
        {{ product.productID }}<br><br>
        {{ product.numMonths }}個月內{{ product.productInfoT }}。<br>
                         原價要{{ product.origPrice }}，<br>
                        現在只要{{ product.specialPrice }}元
      </div>
	{% endfor %}
   E-mail：<input type=email name=email required><br>
          暱稱：<input type=text name=nickname required><br>
          帳號：<input type=text name=account required>(限英文及數字)<br>
          密碼：<input type=password id=password name=password required><br>
          確認密碼：<input type=password name=passwordSecond required><br>
          推薦者：<input type=text name=invitor>(如沒有請留空)<br>
          偏好語言：
    <select name=language>
	  <option value=0>繁體中文</option>
	  <option value=1>简体中文</option>
	</select>
    <br>
          請選擇您的頭像：
    <input type=radio name=image value=0 checked><img class=registration src=/static/images/avatar1.png>
    <input type=radio name=image value=1><img class=registration src=/static/images/avatar2.png>
    <input type=radio name=image value=2><img class=registration src=/static/images/avatar3.png>
    <input type=radio name=image value=3><img class=registration src=/static/images/avatar4.png>
    <input type=radio name=image value=4><img class=registration src=/static/images/avatar5.png>
    <input type=radio name=image value=5><img class=registration src=/static/images/avatar6.png>
    <input type=radio name=image value=6><img class=registration src=/static/images/avatar7.png><br>
    <input type=submit value=送出>
    <input type=reset value=清除>
    <button href=/admin?arg1=memberManage>放棄</button>
  </fieldset>
</form>

{% include "paging.html" %}
<script>
$(document).ready(function() {
  $('.addMember').ajaxForm ({ 
    beforeSubmit: function () {
      return $('.addMember').valid(); // TRUE when form is valid, FALSE will cancel submit
    },
    success: function(returnData) {
      $('#section').html(returnData);
      return false;
    }
  });
  
  $('.addMember').validate({
    onkeyup:false,
    rules: {
      account: {required: true, validChars: true, noSpace: true, minlength: 5, 
    	        checkAccount: true, alphaNumeric: true},
      password: {required: true, validChars: true, noSpace: true, minlength: 5, maxlength: 20},
      passwordSecond: {required: true, equalTo: "#password"},
      email: {required: true, email: true, checkEmail: true},
      nickname: {required: true, validChars: true},
    },
    messages: {
      account: {required: "請填資料", validChars: "請輸入合法字元", noSpace: "不可輸入空白",
                minlength: jQuery.format("帳號至少需要{0}個字元"),
                checkAccount: "此帳號已被使用", alphaNumeric: "請輸入英文或數字"},
      password: {required: "請填資料", validChars: "請輸入合法字元", noSpace: "不可輸入空白",
                 minlength: jQuery.format("密碼至少需要{0}個字元")},
      passwordSecond: {required: "請填資料", equalTo: "確認密碼不相符"},
      email: {required: "請填資料", email: "請輸入合法電子信箱", checkEmail: "此電子信箱已被使用"},
      nickname: {required: "請填資料", validChars: "請輸入合法字元", maxlength: jQuery.format("暱稱至多為{0}個字元")},
    },
  });
});
</script>