<form action=/admin/course?arg1=add method=post class='form uploadFileForm' enctype=multipart/form-data>
	{% module xsrf_form_html() %}
	<h3>新增課程</h3>
	
	<div class=form-group>
		<button class='btn btn-primary' type=submit>新增課程</button>
		<button class='btn btn-danger' type=reset>清除</button>
	</div>
			
	<div class=form-group>
		<label for=courseName>課程名稱：</label>
		<input name=courseName id=courseName type=text class=form-control placeholder=*輸入課程名稱 required autofocus>
		<p class=help-block>（一定要填寫）</p>
	</div>
			
	<div class=form-group>
		<label for=courseType>課程類別：</label>
		<input name=courseType id=courseType type=text class=form-control placeholder=*輸入課程類別 required>
		<p class=help-block>（一定要填寫）e.g. 國文、英文、數學、自然或者社會</p>
	</div>
			
	<div class=form-group>
		<label for=courseTeacher>授課教師：</label>
		<input name=courseTeacher id=courseTeacher type=text class=form-control placeholder=*輸入課程類別 required>
		<p class=help-block>（一定要填寫）</p>
	</div>
			
	<div class=form-group>
		<label for=courseInfo>課程資訊：</label>
		<textarea name=courseInfo id=courseInfo type=text class=form-control rows=5 cols=50 required></textarea>
		<p class=help-block>（課程簡介）</p>
	</div>
	
	<div class=form-group>
		<label for=courseVideo>課程影片：</label>
		<input name=courseVideo id=courseVideo type=file required><br>
		<p class=help-block>（一定要有）</p>
	</div>
	
	<div class=progress>
		<div class='progress-bar progress-bar-success progress-bar-striped' role=progressbar>
		  <span class=sr-only></span>
		</div>
	</div>
	
</form>

<script>
CKEDITOR.replace('courseInfo', {
	customConfig: '/static/js/ckeditor-config.js'
});
</script>

{% include "paging.html" %}