<!-- icon-checkmark有錯誤訊息 <span class=icon-checkmark></span>  -->
<div id=sidebar>
  <ol class=rounded-list>
	<li><a href="/showCourse?arg1=courseInfo&arg2={{ unit.key.id }}" class=getContainer>{{ unit.unitName }}</a></li>		
	<ol>
	 {%for course in courses %}
	   <li><a href="/showCourse?arg1=courseShow&arg2={{ course.key.id }}" class=adminGetContainer>{{ course.courseName }}{% if course.read == "True" %}★{% endif %}</a></li>
	 {% endfor %}  
	 </ol>
  </ol>
</div>

<div id=container>	
  {{ unit.unitInfo }}	
</div>


<script>
$(document).ready(function(e) { 
  {% if course %}
    $('#container').load('/showCourse?arg1=courseShow&arg2={{course}}');
  {% endif %}
  
});
</script>
