<br><br>{{ text.4 }}<br>
<table width=100% >
{% for courseDiscussion in courseDiscussions %}
  <tr>
    <td width=5% rowspan=2><img src="/static/images/avatar{{ courseDiscussion.image }}.png" class=daitoutie></td>
    <td width=5%>{{ courseDiscussion.account }}</td>
    <td>{{ courseDiscussion.time }}</td>
  </tr>
  <tr>
    <td colspan=2>{{ courseDiscussion.content }}</td>
    <td></td>
    <td>{% if account = courseDiscussion.account %} <a href='/showCourse?arg1=courseShow&arg2={{ course.key.id }}&arg3={{ courseDiscussion.key.id }}' class=adminGetContainer>刪除</a> {% endif %}</td>
  </tr>
{% endfor %}
</table>