<form action=/showCourse?arg1=courseServey id=addCourseSurvey method=post>
  {% if memberSurvey %}
          已評分
  {% else %}
    <input type=hidden name=courseID value="{{ course.key.id }}">
    <input type=hidden id=score name=score value=5>
    <div class=starbox>
    </div>
    <br>
    {{ text.0 }}
    <textarea name=proposal></textarea>
    <input type=submit value=送出>
  {% endif %}
</form>

<script>
$(document).ready(function() {
  $('.starbox').starbox({
    average: 0.5,
    stars: 5,
    buttons: 10,
    changeable: 'once',
    autoUpdateAverage: true,                
    ghosting: true
  });
  
  $('.starbox').click(function(){
    $('#score').val($('.starbox').starbox('getValue')*10);
  });
  
  $('.btn').click(function(){
    alert($('.starbox').starbox('getValue'));
  });
  
});   

</script>