<video id=movie width=640 height=360 controls>
  <source src="/serve/{{ course.video }}">
</video><br><br>
<div id=movieSurvey>{% include "courseSurvey.html" %}</div>
<div id=favorvite>
  {% if favorite %}
    <button onclick="$('#container').load('/member?arg1=delFavorite&arg2={{course.key.id}}');return false;">{{ text.1 }}</button>
  {% else %}
    <button onclick="$('#container').load('/member?arg1=addFavorite&arg2={{course.key.id}}');return false;">{{ text.2 }}</button>
  {% endif %}
</div>

<div id=courseSurvey>
  {% include "courseSurveyShow.html" %}
</div>

<div class=resize>
  <br><br>     
  {{ text.3 }}：<br>
  {{ course.courseInfo }}   	
</div>
<div>
  <div id=exchange>
    {% include "courseShowCourseDiscussion.html" %}<br>
  </div>
  <form action="/showCourse?arg1=courseDiscussion&arg2={{ course.key.id }}" class=courseDiscussion method=post>
    {{ text.5 }}
    {{ account }}<br>		
    <textarea rows=10 cols=50 name=content id=speech required></textarea><br>   					
    <input type=submit value=送出>
    <input type=reset value=取消>
  </form>
</div>
<div id=empty>
</div>
<script>
$(document).ready(function() {
  var watchTime = 0;
  $('#movie').bind('playing', function() { 
	countReadTime('onplay');
    return false;
  });	
  
  $('#movie').bind('ended', function() { 
	countReadTime('ended');
    $('#empty').load('/showTeacher?arg1=teacherHot&arg2={{ course.unitID }}');
    return false;
  });
  //bug 離開頁面無法停止
  window.onbeforeunload = function(){
	clearTimeout(playMovie);
	countReadTime('outWindow');
  };
  //bug 離開頁面無法停止
  $('#movie').bind('pause', function() { 
	countReadTime('pause');
    return false;
  });	
  function countReadTime(state) {
    if (state == 'pause' || state == 'outWindow'){
      if (state == 'state' == 'outWindow'){
    	watchTime = 0;
      }
      clearTimeout(playMovie);
      return false;
    }
    if (state == 'onplay'){
      if (watchTime == 30){
    	$('#empty').load('/showCourse?arg1=hotStatistics&arg2={{course.key.id}}');
      }
      watchTime+=1;
      if (watchTime >= 31 ){
    	return false;
      }
    }
    playMovie = setTimeout(function(){ countReadTime('onplay'); }, 1000); 
  }
});
  </script>
