我们已经向您的邮箱发送了一封激活邮件，请点击邮件中的链接完成注册！。
<br><br>
没有收到确认邮件?<a id=sendEmail href=javascript:void(0)>试试更换邮箱地址</a>！
<br><br>
<form id=emailFormStyle action=/member?arg1=sendEmail method=post>
  电子信箱：<input type=email name=email size=15><br>
  <input type=hidden id=host name=hostname value=null>
  <input type=submit id=submit value=送出>
</form>


<script>
$(document).ready(function() { 
  $('#host').val(location.hostname);
  $('#emailFormStyle').dialog({
	autoOpen: false,
	show: {
      effect: 'blind',
      duration: 1000
    }
  });
  
  $('#sendEmail').click(function() {
    $('#emailFormStyle').dialog('open');
  });

});
</script>