<form id=forgetPassword action=/forgetPassword method=post>
	{% raw xsrf_form_html() %}
	<fieldset>
		<legend>忘記密碼 >..<||| </legend>
		{% if errorMessage %}
		<div class=form-group>
		  {{errorMessage}}
	  </div>
		{% end %}
		
		<div class=form-group>
		  <label for=form-group>帳號</label>
		  <input type=text name=account class=form-control placeholder=輸入帳號>
	  </div>
	  
	  <div class=form-group>
	  	<label>電子信箱</label>
	  	<input type=email name=email class=form-control placeholder=anythin@example.com>
	  </div>
	</fieldset>
</form>