{% if successMessage %}
  {{ successMessage }}<br>
  <button onclick="$('#loginForm').load('/member?arg1=login');return false;">返回</button>
{% else %}
 請輸入您的帳號及信箱。
<form id=forgetPasswordForm action=/member?arg1=forgetPassword method=post>
  電子信箱：<input type=email name=email size=15><br>
  帳號：<input type=text name=account size=15><br>
  {% if errorMessage %}
    {{ errorMessage }}<br>
  {% endif %}
  <input type=submit value=送出>
  <button onclick="$('#loginForm').load('/member?arg1=login');return false;">返回</button>
</form>
{% endif %}

<script>
$(document).ready(function() { 
  $('#forgetPasswordForm').ajaxForm ({ 
    beforeSubmit: function () {
      return $('#forgetPasswordForm').valid(); 
    },
    success: function(returnData) {
      $('#loginForm').html(returnData);
      return false;
    }
  });
  
  $('#forgetPasswordForm').validate({
    onkeyup:false,
    rules: {
      account: {required: true},
      email: {required: true, email: true},
    },
    messages: {
      account: {required: '請填資料'},
      email: {required: '請填資料', email: '請輸入合法電子信箱'},
    },
  });
});
</script>