<!doctype html>
<html lang=zh-tw>
<head>
	<!--[if lt IE 9]>
    <script src=/static/js/html5shiv-printshiv.min.js></script>
    <script src=/static/js/html5shiv.min.js></script>
	<![endif]-->
	<meta charset=utf-8>
	<meta name=viewport content='width=device-width, initial-scale=1.0'>
	<link href=/static/images/favicon.png rel=icon>
	<title>齊齊雲端!!</title>
	<script src=/static/js/jquery.min.js></script>
	<link href=/static/css/bootstrap.min.css rel=stylesheet>
	<script src=/static/js/indexAjax.js></script>
	<script src=/static/js/i18next.min.js></script>
	<script src=/static/js/styles.js></script>
</head>
<body >
<header class='col-md-8 col-md-offset-2'>
	<nav class='navbar navbar-default'>
		<div class=container-fluid>
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class=navbar-header>
				<button type=button class='navbar-toggle collapsed'
					data-toggle=collapse data-target=#bs-example-navbar-collapse-1>
					<span class=sr-only>Toggle navigation</span> <span class=icon-bar></span>
					<span class=icon-bar></span> <span class=icon-bar></span>
				</button>
				<a class="navbar-brand" href="#">齊齊雲端</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class='collapse navbar-collapse'	id='bs-example-navbar-collapse-1'>
				<ul class='nav navbar-nav'>
					<li><a href='/'>首頁 <span class=sr-only>(current)</span></a></li>
					<li><a href=/course class=getContainer>課程</a></li>
					<li><a href=/exam class=getContainer>試卷下載</a></li>
					<li><a href=/game class=getContainer>益智遊戲</a></li>
					<li><a href=/highlight class=getContainer>齊芳花絮</a></li>
				</ul>
				<ul class='nav navbar-nav navbar-right'>
					<li class=dropdown><a href=# class=dropdown-toggle data-toggle=dropdown role=button aria-expanded=false><span class='glyphicon glyphicon-cog'></span></a>
					<ul class=dropdown-menu role=menu>
						{% if account is None %}
						<li><a href=/login class=getContainer>登入</a></li>
						{% else %}
						<li><a href=#>{{account}}</a></li>
  					<li class=divider></li>
						<li><a href=/logout>登出</a></li>
						{% end %}
						</ul></li>
	  			</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
		
	</nav>
	<img src=/static/images/banner.png alt=banner class=img-responsive>
	<hr>
</header>

<article class='col-md-8 col-md-offset-2'>
	<aside>
		
	</aside>
	<section>
		
	</section>
</article>

<footer class='navbar navbar-default navbar-fixed-bottom col-md-4 col-md-offset-6'>
	<ul class='nav nav-pills'>
		<li role=presentation><a>@Copyright 齊芳美語補習班</a></li>
    <li role=presentation><a href=#>服務條款</a></li>
    <li role=presentation><a href=#>隱私權條款</a></li>
    <li role=presentation><a href=#>關於齊齊</a></li>
    <li role=presentation><a href=#>使用者手冊</a></li>
  </ul>
</footer>
<script src=/static/js/bootstrap.min.js></script>
</body>
</html>