<script>
$(document).ready(function() {
  if (navigator.appName == 'Netscape'){
	var language = navigator.language;
  }else{
	var language = navigator.browserLanguage;
  }
  var lan = '繁體中文';
  if (language.toLowerCase().indexOf('tw') > -1) {
	lan = '繁體中文';
	$('title').html('談吉他');
	$('#welcome').html('歡迎您登入');
	$('#account').html('帳戶');
	$('#favorite').html('最愛');
	$('#history').html('歷史');
	$('.logout').html('登出');
	$('.pull').html('清單');
	$('#dialog').html('公告');
	$('#expired').html('您的帳戶已經過期了!! 您可以....');
	$('#expiredClick').html('點擊這裡');
	$('#prepaid').html('進行儲值');
	$('#freeCourse').html('免費課程');
	$('#registration').html('註冊');
	$('#login').html('登入');
	$('.forget').html('忘記密碼?');
	$('#loginAccount').html('帳號：');
	$('#loginPassword').html('密碼：');
	$('#loginButton').html('登入');
	$('#introduction').html('介紹');
	$('#newCourse').html('最新課程');
	$('#hotCourse').html('最熱課程');
	$('#freeAlotofCourse').html('本網站還有收藏超多堂課程');
	$('#freeNoWait').html('你還在等什麼?');
	$('#nowRegistration').html('立即註冊');
	$('#numMonths').html('個月內');
	$('#origPrice').html('原價要');
	$('#specialPrice').html('現在只要');
	$('#money').html('元');
	$('#email').html('電子郵件：');
	$('#nickname').html('暱稱：');
	$('#passwordSecond').html('確認密碼：');
	$('#invitor').html('推薦者：');
	$('#preferences').html('偏好語言：');
	$('#limitAccount').html('(限英文及數字)');
	$('#limitInvitor').html('(如沒有請留空)');
	$('#selectImage').html('請選擇您的頭像：');
	$('#submit').html('送出');
	$('#reset').html('清除');
	$('#termsOfService').html('服務條款');
	$('#privacy').html('隱私權條款');
	$('#about').html('關於網站');
	$('#QandA').html('常見問答');
	$('#emailVerified').html('已經對您的電子郵件發送驗證信，您的帳號尚未驗證完成，請由信箱驗證信登入。');
	$('#noEmail').html('沒收到驗證信嗎?');
	$('#sendEmail').html('請更改電子信箱');
  }  
  if (language.toLowerCase().indexOf('cn') > -1) {
    lan = '簡体中文';  
  	$('title').html('谈吉他');
	$('#welcome').html('你好');
	$('#account').html('账户');
	$('#favorite').html('收藏');
	$('#history').html('历史');
	$('.logout').html('退出');
	$('.pull').html('展开');
	$('#dialog').html('活动新闻');
	$('#expired').html('您的帐号过期!! 您可以....');
	$('#expiredClick').html('点击链接');
	$('#prepaid').html('即可充值');
	$('#freeCourse').html('免费课程');
	$('#registration').html('注册');
	$('#login').html('登录');
	$('.forget').html('忘记密码?');
	$('#loginAccount').html('帐号：');
	$('#loginPassword').html('密码：');
	$('#loginButton').html('登录');
	$('#introduction').html('介紹');
	$('#newCourse').html('最新加入课程');
	$('#hotCourse').html('最热优质课程');
	$('#freeAlotofCourse').html('本课程平台拥有非常丰富及高质量的线上优质课程');
	$('#freeNoWait').html('欢迎使用！');
	$('#nowRegistration').html('注册帐号');
	$('#numMonths').html('个月内');
	$('#origPrice').html('需支付');
	$('#specialPrice').html('优惠价');
	$('#money').html('元');
	$('#email').html('邮箱：');
	$('#nickname').html('用户名：');
	$('#passwordSecond').html('确认密码：');
	$('#invitor').html('邀请人帐号：');
	$('#preferences').html('喜好语言：');
	$('#limitAccount').html('(仅限英文及数字)');
	$('#limitInvitor').html('(可以省略)');
	$('#selectImage').html('选择头像：');
	$('#submit').html('提交');
	$('#reset').html('清空');
	$('#termsOfService').html('服务声明');
	$('#privacy').html('隐私权保护声明');
	$('#about').html('关于谈吉他');
	$('#QandA').html('常见问题');
	$('#emailVerified').html('我们已经向您的邮箱发送了一封激活邮件，请点击邮件中的链接完成注册！。');
	$('#noEmail').html('没有收到确认邮件?');
	$('#sendEmail').html('试试更换邮箱地址');
  }
});
</script>