<form id=login action=/login method=post>
	{% raw xsrf_form_html() %}
	<fieldset>
		<legend>登入</legend>
		{% if errorMessage %}
		<div class=form-group>
			{{errorMessage}}
		</div>
		{% end %}
		<div class=form-group>
		  <label><span class='glyphicon glyphicon-user'>帳號</span></label>
		  <input type=text id=account name=account class=form-control placeholder=輸入帳號><br>
	  </div>
	  <div class=form-group>
		  <label><span >密碼</span></label>
		  <input type=password name=password class=form-control placeholder=輸入密碼><br>
	  </div>
	  <input  class='btn btn-primary' type=submit value=登入>
		<a class='btn btn-danger' href=/forget class=getContainer>忘記密碼</a>
  </fieldset>
</form>

{% include "paging.html" %}