<form id=login action=/login method=post>
	{% raw xsrf_form_html() %}
	<fieldset>
		<legend>登入</legend>
		{{errorMessage}}<br>
	  <span >帳號：</span><input type=text name=account class=form-control id=account><br>
	  <span >密碼：</span><input type=password name=password class=form-control><br>
	  <input  class='btn btn-primary' type=submit value=登入>
		<a class='btn btn-success' href=/signin class=getContainer><span class='glyphicon glyphicon-plus'>註冊</span></a>
		<a class='btn btn-danger' href=/forgetAccount class=getContainer>忘記密碼</a>
  </fieldset>
</form>
