<!-- style沒拿掉窩窩窩窩窩 -->
<div id=mainVideoDiv>
  {% include "mainPageVideo.html" %}
</div>

<div id=mainPageItem>
<ul id=mainsMenu>
	<li><a class=getContainer href=/?arg1=mainPage>
	{% if member.language == 0 %}最愛{% endif %}
	{% if member.language == 1 %}收藏{% endif %}</a></li>
	<li><a class=getContainer href=/?arg1=mainPageHistory>
	{% if member.language == 0 %}歷史{% endif %}
	{% if member.language == 1 %}历史{% endif %}</a></li>
	<li><a class=getContainer href=/?arg1=mainPageIntroduction>
	{% if member.language == 0 %}導覽{% endif %}
	{% if member.language == 1 %}导航{% endif %}</a></li>
</ul>

<ul id=mainPageMains>
{% for main in mains %}
  <li>
    <a class=mains href="/?arg1=mainPageVideo&arg2={{ main.courseID }}">
    {% if member.language == 0 %}{{ main.courseNameT }}{% endif %}
    {% if member.language == 1 %}{{ main.courseNameS }}{% endif %}
    </a>
  </li>
{% endfor %}
</ul>
</div>
<div id=newHotCourse>    
	<div class="newCourse-carousel">
		<h3>
		{% if member.language == 0 %}最新課程：{% endif %}
		{% if member.language == 1 %}最新课程：{% endif %}
		</h3>
		<div class="btnL">
		  <div class="btn"><a href="#" class="prev">《</a></div>
		</div>
		<div class="frame">
			<ul>
				{% for newCourse in newCourses %}
					<li><a class=getContainer href="/member?arg1=course&arg2={{ newCourse.key.id }}"><img title="{{ newCourse.name }}" src="/serve/{{ newCourse.image }}"></a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="btnR">
		  <div class="btn"><a href="#" class="next">》</a></div>
		</div>
	</div>

<br>
<div class="newCourse-carousel">
		<h3>
			{% if member.language == 0 %}最熱課程：{% endif %}
			{% if member.language == 1 %}最热课程：{% endif %}
		</h3>
		<div class="btnL">
		  <div class="btn"><a href="#" class="prev">《</a></div>
		</div>
		<div class="frame">
			<ul>
				{% for hotCourse in hotCourses %}
	  			<li><a class=getContainer href="/member?arg1=course&arg2={{ hotCourse.key.id }}"><img title="{{ hotCourse.name }}" src="/serve/{{ hotCourse.image }}"></a></li>				
				{% endfor %}
			</ul>
		</div>
		<div class="btnR">
		  <div class="btn"><a href="#" class="next">》</a></div>
		</div>
	</div>
</div>

{% include "paging.html" %}
<script>
$(function(){
	$('.newCourse-carousel').each(function(){
		// 先取得相關的元素及寬度等資料
		var $this = $(this), 
			$page = $this.find('.page'), 
			$btn = $this.find('.btn'), 
			_frameWidth = $this.find('.frame').width(), 
			$carousel = $this.find('ul'), 
			$items = $carousel.find('li'), 
			_itemLength = $items.length, 
			_set = Math.ceil(_frameWidth / $items.outerWidth(true)), 
			_count = Math.ceil(_itemLength / _set), 
			_width = _set * $items.outerWidth(true) * -1, 
			_speed = 400, _opacity = 0.75, _index = 0;
 
		// 用來顯示目前已顯示及總資料筆數資訊
		$page.html('1 - ' + (_set < _itemLength ? _set : _itemLength) + ' / ' + _itemLength);
 
		// 幫每一個 li 加上標題及遮罩
		$items.each(function(){
			var $this = $(this), 
				_href = $this.find('a').attr('href'), 
				_title = $this.find('img').attr('title');
 
			$this.append('<div class="ovrly"></div>' +
				'<h3>' + 
					'<a class="getContainer" href="' + _href + '" alt="' + _title + '" title="' + _title + '">' + _title + '</a>' + 
				'</h3>').find('.ovrly').css('opacity', _opacity);
		});
 
		// 當按了上下頁的按鈕時
		$btn.find('.prev, .next').click(function(e){
			// 計算要顯示第幾組
			_index = Math.floor((e.target.className == 'prev' ? _index - 1 + _count : _index + 1) % _count);
			var _lastNum = _set * (_index + 1);
			$page.html((_set * _index + 1) + ' - ' + (_lastNum < _itemLength ? _lastNum : _itemLength) + ' / ' + _itemLength);
 
			// 進行動畫
			$carousel.stop().animate({
				left: _index * _width
			}, _speed);
 
			e.preventDefault();
		}).focus(function(){
			this.blur();
		});
	})
});
</script>