<div>
  {% if member.language == 0 %}<h2>觀看紀錄：</h2>{% endif %}
  {% if member.language == 1 %}<h2>观看纪录：</h2>{% endif %} <br />
  {% for history in historys %}
    <a class=history href="/member?arg1=history&arg2={{ history.courseID }}">
      {% if member.language == 0 %}{{ history.courseNameT }}{% endif %}
      {% if member.language == 1 %}{{ history.courseNameS }}{% endif %}
    </a><br><br>
  {% endfor %}
</div>

{% include "paging.html" %}
<script>
$(document).ready(function() {
  $('.history').click(function() {
    var url = $(this).attr('href');
    var state = {title : 'main' , url1 : url};
	history.pushState(state, 'main', '/');
    $('#section').load(url);
    return false;
  });
});
</script>