<div>
  {% if member.language == 0 %}<h2>交易紀錄：</h2>{% else %}<h2>交易纪录：</h2>{% endif %} <br>
  <table>
  {% if member.language == 0 %}
    <tr>
      <td>付費日期</td>
      <td>到期日期</td>
      <td>選擇方案</td>
      <td>付費金額</td>
      <td>付費方式</td>
    </tr>
  {% endif %}
  {% if member.language == 1 %}
	<tr>
      <td>付费日期</td>
      <td>到期日期</td>
      <td>选择方案</td>
      <td>付费金额</td>
      <td>付费方式</td>
    </tr>
  {% endif %}
  {% for purchase in purchases %}
    <tr>
      <td>{{ purchase.paymentDate|date:"Y-m-d" }}</td>
      <td>{{ purchase.deadline|date:"Y-m-d" }}</td>
      <td>{{ purchase.program }}</td>
      <td>{{ purchase.totalPrice }}</td>
      <td>{{ purchase.payMode }}</td>
    </tr>
  {% endfor %}
  </table>
</div>

{% include "paging.html" %}

