{% for response in responses %}
  {% if member.account == 'admin' or member.account == response.account %}  
     <div>
       <form id=modifyResponse class="{{ response.key.id }}" action="/addMessage?arg1=modifyResponse&arg2={{ response.key.id }}" method=post>
	     <img class=responseImage src="/static/images/avatar{{ response.image }}.png">
	     {{ response.content }} {{ response.account }} {{ response.time }}
	     <input type=button id={{response.key.id}} value=修改>
      </form>
      <a class=deleteResponse href="/addMessage?arg1=deleteResponse&arg2={{ response.key.id }}"><button>刪除</button></a><br>
   </div>
  {% else %} 
    <img class=responseImage src="/static/images/avatar{{ response.image }}.png">
    {{ response.content }} {{ response.account }} {{ response.time }}
    {% if response.language == 0 %}
      {% if response.report %}
        {% if member.account == 'admin' %}
          <a class=rightButton href="/addMessage?arg1=noProblemResponse&arg2={{ response.key.id }}"><button>正常</button></a>
        {% endif %}
   	    <p>已被檢舉</p>
      {% else %}
        <a class=reportResponse href="/addMessage?arg1=reportResponse&arg2={{ response.key.id }}"><button>檢舉</button></a><br>
      {% endif %}
    {% else %}
      {% if response.report %}
   	    <p>已被检举</p>
      {% else %}
        <a class=reportResponse href="/addMessage?arg1=reportResponse&arg2={{ response.key.id }}"><button>检举</button></a><br>
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
{% if messageResponseNum >= 0 %}
<div id=moreform class="{{ messageResponseMore }}"><a class=more href="/addMessage?arg1=message&arg2={{ messageID }}&messageResponseMore={{ messageResponseMore }}">more</a></div>
{% endif %}

{% include "paging.html" %}
