<script>
function loadjscssfile(filename){
	var fileref=document.createElement('script')//新增標籤
  fileref.setAttribute('type','text/javascript')//定義属性type的值為text/javascript
  fileref.setAttribute('src', filename)//文件的地址
  document.getElementsByTagName('head')[0].appendChild(fileref)
} 
if (typeof jQuery == 'undefined') {
  // jQuery 未載入
  loadjscssfile('http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js');
} else {
  // jQuery 已載入
}
setTimeout(function(){
  $(document).ready(function(){
	if ($('footer').length == 0) {
		pathName = location.pathname+location.search;
    window.location.assign('/?pathName='+pathName.slice(1));
    return false;}
  })
},200);
</script>