<form id=payPageSubmitForm action="/member?arg1=selectProgram&arg2={{ member.account }}" method=post>
{% for product in products %}
  <input  type=radio name=product value="{{ product.key.id }}"{% if forloop.counter == 2 %}checked{% endif %}>
  {% if member.language == 0 %}
  <div>
    {{ product.productIDT }}<br><br>
    {{ product.numMonths }}<span id=numMonths>個月內</span>{{ product.productInfoT }}。<br>
    <span id=origPrice>原價要</span>{{ product.origPrice }}，<br>
    <span id=specialPrice>現在只要</span>{{ product.specialPrice }}<span id=money>元</span>
  </div>
  {% endif %}
  {% if member.language == 1 %}
  <div>
    {{ product.productIDS }}<br><br>
    {{ product.numMonths }}<span id=numMonths>个月内</span>{{ product.productInfoS }}。<br>
    <span id=origPrice>需支付</span>{{ product.origPrice }}，<br>
    <span id=specialPrice>优惠价</span>{{ product.specialPrice }}<span id=money>元</span>
  </div>
  {% endif %}
{% endfor %}
  {% if member.language == 0 %}
	<input type=submit value=加值>
	<input type=reset value=清除>
  {% endif %}
  {% if member.language == 1 %}
	<input type=submit value=加值>
	<input type=reset value=清空>
  {% endif %}
</form>

{% include "paging.html" %}
<script>
$(document).ready(function() {
  $('#payPageSubmitForm').ajaxForm({
    success: function(returnData) {
      if (returnData == 'success') {
        document.location.href = '/';
      }else{
        $('#section').html(returnData);
      }
    }
  });
  if (navigator.appName == 'Netscape'){
	var language = navigator.language;
  }else{
	var language = navigator.browserLanguage;
  }
  var lan = '繁體中文';
  if (language.toLowerCase().indexOf('tw') > -1) {
	lan = '繁體中文';
	$('title').html('談吉他');
	$('#numMonths').html('個月內');
	$('#origPrice').html('原價要');
	$('#specialPrice').html('現在只要');
	$('#money').html('元');
	$('#submit').html('加值');
	$('#reset').html('清除');
  }  
  if (language.toLowerCase().indexOf('cn') > -1) {
    lan = '簡体中文';  
  	$('title').html('谈吉他');
	$('#numMonths').html('个月内');
	$('#origPrice').html('需支付');
	$('#specialPrice').html('优惠价');
	$('#money').html('元');
	$('#submit').html('加值');
	$('#reset').html('清空');
  }
  $('.lanTest').html(lan);
});
});
</script>