<input value="錄音" type="button" id="record" />
<input value="播放" type="button" id="play" />
<script>
var AudioContext=AudioContext||webkitAudioContext;
var context=new AudioContext;
navigator.getUserMedia=
  navigator.getUserMedia||
  navigator.webkitGetUserMedia||
  navigator.mozGetUserMedia;
navigator.getUserMedia({audio:true},function(e){
  var data,p;
  var stream=context.createMediaStreamSource(e);
  var recorder=context.createScriptProcessor(1024,1,0);
  recorder.onaudioprocess=function(e){
    if(record.value=="停止")data.push(e.inputBuffer.getChannelData(0));
  };
  var player=context.createScriptProcessor(1024,0,1);
  player.onaudioprocess=function(e){
    if(!data)return;
    var i,s=data[p++];
    if(!s)return play.value=="停止"&&play.click();
    var buffer=e.outputBuffer.getChannelData(0);
    for(i=0;i<s.length;i++)buffer[i]=s[i];
  };
  record.onclick=function(){
    if(record.value=="錄音")
      return data=[],stream.connect(recorder),this.value="停止";
    if(record.value=="停止")
      return stream.disconnect(),this.value="錄音";
  };
  play.onclick=function(){
    if(this.value=="播放")
      return p=0,player.connect(context.destination),this.value="停止";
    if(this.value=="停止")
      return player.disconnect(),this.value="播放";
  };
},function(e){
  console.log("請求麥克風失敗");
});
</script>