<form id=signin action=/signin method=post>
	{% raw xsrf_form_html() %}
	<fieldset>
		<legend>註冊</legend>
		{% if errorMessage %}
		<div class=form-group>
		  <label for=form-group>{{errorMessage}}</label>
	  </div>
		{% end %}
		<div class=form-group>
		  <label for=form-group>帳號</label>
		  <input type=text name=account class=form-control placeholder=輸入帳號>
	  </div>
	  <div class=form-group>
		  <label><span class='glyphicon glyphicon-user'>暱稱</span></label>
		  <input type=text name=nickname class=form-control placeholder=輸入暱稱>
	  </div>
	  <div class=form-group>
	  	<label><span class='glyphicon glyphicon-open'>大頭照</span></label>
	  	<input type=file name=image>
	  </div>
	  <div class=form-group>
		  <label>密碼</label>
		  <input type=password name=password class=form-control placeholder=輸入密碼>
	  </div>
	  <div class=form-group>
		  <label>確認密碼</label>
		  <input type=password name=passwordSecond class=form-control placeholder=再次輸入密碼>
	  </div>
	  
	  <div class=form-group>
	  	<label>電子信箱</label>
	  	<input type=email name=email class=form-control placeholder=anything@example.com>
	  </div>
	  
	  <input type=submit value=註冊>
	  <input type=reset>
  </fieldset>
</form>
{% include "paging.html" %}