<div class='panel panel-default'>
	<div class=panel-heading>
		<h3 class=panel-title>師資簡介</h3>
	</div>
	<div class=panel-body>以下為我們齊齊雲端學習平台的課程講師。</div>
	
	<table class='table table-bordered table-responsive'>
	  <tr>
	  	<th>教師名稱</th>
	  	<th>教師學歷</th>
	  	<th>教師專長</th>
	  </tr>
		{% for teacher in teachers %}
		<tr>
			<td>{{teacher['teacherName']}}</td>
			<td>{{teacher['teacherInfo']}}</td>
			<td>{{teacher['specialty']}}</td>
		</tr>
		{% end %}
	</table>
</div>

{% include "paging.html" %}